@model CMDb___project.Models.ViewModels.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>About Movie</h2>
<div class="topmovie">
    <div class="topmoviecontainer">
        <img src="@Html.DisplayFor(model => model.movie.Poster)" class="topmovieposter" />
        <div class="topmovietext">
            <h3>
                @Html.DisplayFor(model => model.movie.Title) (@Html.DisplayFor(model => model.movie.Year))
            </h3>
            <p class="genre">@Html.DisplayFor(model => model.movie.Genre)</p>
            <p class="plot">@Html.DisplayFor(model => model.movie.Plot)</p>
            <p class="actors">@Html.DisplayFor(model => model.movie.Actors)</p>
            <p class="director">@Html.DisplayFor(model => model.movie.Director)</p>
            <p class="runtime">@Html.DisplayFor(model => model.movie.Runtime)</p>
        </div>
    </div>
    <div class="topmovieratings">
        <table>
            <tr>
                <td>
                    <img src="~/Images/like.svg" class="likebutton" />
                </td>
                <td></td>
                <td>
                    <a href="javascript:void(0)" onclick="dislike();">
                        <img src="~/Images/like.svg" class="dislikebutton" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                   5 
                </td>
                <td>

                </td>
                <td>
                    3
                </td>
            </tr>
            <tr>
                <td>
                    <div class="imdbicon"></div>
                </td>
                <td>
                    <div class="rottenicon"></div>
                </td>
                <td>
                    <div class="metaicon"></div>
                </td>
            </tr>
            <tr>
                <td>
                    5.5
                </td>
                <td>
                    8.0
                </td>
                <td>
                    8.4
                </td>
            </tr>
        </table>
    </div>
</div>