@model CMDb___project.Models.ViewModels.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>TOP MOVIE</h2>
<div class="topmovie">
    <div class="topmoviecontainer">
        <img src="@Html.DisplayFor(model => model.movie.Poster)" class="topmovieposter" />
        <div class="topmovietext">
            <h3>
                @Html.DisplayFor(model => model.movie.Title) (@Html.DisplayFor(model => model.movie.Year))
            </h3>
            <p class="genre">@Html.DisplayFor(model => model.movie.Genre)</p>
            <p class="plot">@Html.DisplayFor(model => model.movie.Plot)</p>
            <p class="actors">@Html.DisplayFor(model => model.movie.Actors)</p>
            <p class="director">@Html.DisplayFor(model => model.movie.Director)</p>
        </div>
    </div>
    <div class="topmovieratings">
        <table>
            <tr>
                <td>
                    <div class="imdbicon"></div>
                </td>
                <td>
                    <div class="imdbicon"></div>
                </td>
                <td>
                    <div class="imdbicon"></div>
                </td>
            </tr>
            <tr>
                <td>
                    5.5
                </td>
                <td>
                    8.0
                </td>
                <td>
                    8.4
                </td>
            </tr>
        </table>
    </div>
</div>