@* @model List<HomeViewModel> *@

@{
    ViewData["Title"] = "Home";
}

<h2>TOP MOVIE</h2>
<div class="topmovie">
    <div class="topmoviecontainer">
        <a class="linkdetails" asp-area="" asp-controller="Home" asp-action="Details">
            <img class="topmovieposter" src="@Model[0].Poster" />
        </a>
        <div class="topmovietext">
            <a class="linkdetails" asp-area="" asp-controller="Home" asp-action="Details">
                <h3>
                    @Model[0].Title
                </h3>
            </a>
            <p class="plot">@Model[0].Plot</p>
            <p class="actors">Actors: @Model[0].Actors</p>
            <p class="director">Director: @Model[0].Director</p>
        </div>
</div>
    <div class="topmovieratings">
        <table>
            <tr>
                <td>
                   <div class="imdbicon"></div>
                </td>
                <td>
                    <div class="imdbicon"></div>
                </td>
                <td>
                    <div class="imdbicon"></div>
                </td>
            </tr>
            <tr>
                <td>
                    8.3
                </td>
                <td>
                    8.0
                </td>
                <td>
                    8.4
                </td>
            </tr>
        </table>
    </div>
</div>

<h5>2nd - 4th</h5>
    
    <div class="top10">
        <div class="top10movie">
            <img class="top10poster" src="@Model[1].Poster" />
            <div class="top10text">
                <h4>@Model[1].Title</h4>
                <p>
                    @Model[1].Plot
                </p>
                <div class="top10rating">
                    <div class="imdbicon"></div> @Model[1].IMDbRating
                </div>
            </div>
        </div>

        <div class="top10movie">
            <img class="top10poster" src="@Model[2].Poster" />
            <div class="top10text">
                <h4>@Model[2].Title</h4>
                <p>
                    @Model[2].Plot
                </p>
                <div class="top10rating">
                    <div class="imdbicon"></div> @Model[2].IMDbRating
                </div>
            </div>
        </div>

        <div class="top10movie">
            <img class="top10poster" src="@Model[3].Poster" />
            <div class="top10text">
                <h4>@Model[3].Title</h4>
                <p>
                    @Model[3].Plot
                </p>
                <div class="top10rating">
                    <div class="imdbicon"></div> @Model[3].IMDbRating
                </div>
            </div>
        </div>
    </div>